---
import type { FriendObject } from "types";
import Socials from "./Socials.astro";
import findFriend from "@utils/findFriend";

export interface Props {
  friend: FriendObject | string;
}

const { friend } = Astro.props;

let friendObject;
if (typeof friend == "string") {
  friendObject = findFriend(friend);
} else {
  friendObject = friend;
}
---

<div
  class="friend-card-bg-color relative mx-auto flex w-full max-w-sm space-y-2 rounded-xl px-6 shadow-md sm:items-center sm:space-x-6 sm:space-y-0 sm:py-2"
>
  <img
    class="!mt-6 mb-3 ml-0 mr-6 block h-28 rounded-lg sm:mx-0 sm:shrink-0"
    src={new URL("/assets/friends/" + friendObject.icon_file, Astro.url.origin)
      .href}
    alt={friendObject.name}
  />
  <div class="space-y-2 text-left">
    <div class="absolute top-8 mr-4 space-y-0.5">
      <a
        href={friendObject.link}
        target="_blank"
        class="my-0 text-base font-bold !text-skin-accent no-underline hover:underline sm:text-lg"
      >
        {friendObject.name}
      </a>
      <p class="text-xs font-normal sm:text-sm">
        {friendObject.description}
      </p>
    </div>
    {
      friendObject.socials && (
        <div class="absolute bottom-2 !my-0 sm:bottom-4">
          <Socials socials={friendObject.socials} />
        </div>
      )
    }
  </div>
</div>
